html {
	background-image: url(../images/theatre.jpg);
	background-size:"";
}
h1 {
	text-align: center;
	color:red;
	font-size: 55px;
}
label {
	color:red;
	font-size: 35px;
	
}
button {
	background-color: aqua;
}
input {
	background-color: aqua;
}